.item-form {
  .sheet-header,
  .sheet-navigation {
    flex: 0 0 30px;
  }

  .sheet-header {
    margin-bottom: 10px;
  }

  .tab,
  .editor {
    height: 100%;
  }

  .flexlabel {
    flex: 0 0 75px;
  }

  .flexinput {
    flex: 1;
  }

  .flexshrink {
    flex: 0 1 auto;
  }

  .choice {
    padding-top: 10px;
    border-top: 1px solid;
    margin-top: 10px;
  }
}