$c-white: #fff;
$c-black: #000;

//$c-navy: #2d3748;
$c-navy: #728f8b;
//$c-navy-up: #5b7094;
$c-navy-up: #acc4c0;
//$c-navy-hover: #7e94bd;
$c-navy-hover: #acc4c0;
//$c-navy-top: #bcc8de;
$c-navy-top: #365e56;
//$c-light: #edf2f7;
$c-light: #acc4c0;

$dw-fail: #EEAA8880;
$dw-success: #BBBB8880;
$dw-partial: #EEDD9980;
$dw-damage: #DBE6EC;

$dp1-white: #f2e9e4;
$dp1-white-high: #c9ada7;
$dp1-dark: #22223b;
$dp1-mid: #9a8c98;
$dp1-dark-high: #4a4e69;

$c-blood: #9a3f3f;
$c-blood-hover: #bf5454;

$c-pink: #ffe9e9;
$c-green: #41c179;

// $c-navy: #000;
// $c-navy-up: #999;
// $c-navy-top: #dedede;
// $c-light: #fff;

$ct-gray: rgba(0, 0, 0, 0.05);

$c-yellow: #f7d601;
$c-orange: #f78c01;
$c-red: #ca0000;